        #강북{
            position:absolute;
            left: 52.5%;
            top: 40%;
        }
        #강북:hover{
            font-size: 150%;
        }
        #도봉{
            position:absolute;
            left: 54.5%;
            top: 340px;
        }
        #도봉:hover{
            font-size: 150%;
        }
        #노원{
       position:absolute;
            left: 58.5%;
            top: 40%;
        }
        #노원:hover{
            font-size: 150%;
        }

        #은평{
         position:absolute;
            left: 44.5%;
            top: 45%;
        }
        #은평:hover{
            font-size: 150%;
        }
        #서대문{
            position:absolute;
            left: 45%;
            top: 53%;
        }
        #서대문:hover{
            font-size: 150%;
        }
        #종로{
       position:absolute;
            left: 50%;
            top: 52%;
        }
        #종로:hover{
            font-size: 150%;
        }
        #성북{
           position:absolute;
            left: 53%;
            top: 48%;
        }
        #성북:hover{
            font-size: 150%;
        }
        #동대문{
           position:absolute;
            left: 56%;
            top: 52%;
        }
        #동대문:hover{
            font-size: 150%;
        }
        #중랑{
        position:absolute;
            left: 59.9%;
            top: 49%;
        }
        #중랑:hover{
            font-size: 150%;
        }
        #마포{
            position:absolute;
            left: 42.5%;
            top: 56%;
        }
        #마포:hover{
            font-size: 150%;
        }
        #중{
            position:absolute;
            left: 51%;
            top: 56.5%;
        }
        #중:hover{
            font-size: 150%;
        }
        #성동{
            position:absolute;
            left: 55%;
            top: 58%;
        }
        #성동:hover{
            font-size: 150%;
        }
        #광진{
            position:absolute;
            left: 59%;
            top: 59%;
        }
        #광진:hover{
            font-size: 150%;
        }
        #용산{
            position:absolute;
            left: 49.5%;
            top: 62%;
        }
        #용산:hover{
            font-size: 150%;
        }
        #강서{
            position:absolute;
            left: 35%;
            top: 55%;
        }
        #강서:hover{
            font-size: 150%;
        }
        #양천{
            position:absolute;
            left: 38%;
            top: 65%;
        }
        #양천:hover{
            font-size: 150%;
        }
        #구로{
            position:absolute;
            left: 37%;
            top: 70%;
        }
        #구로:hover{
            font-size: 150%;
        }
        #영등포{
            position:absolute;
            left: 43%;
            top: 64%;
        }
        #영등포:hover{
            font-size: 150%;
        }
        #동작{
            position:absolute;
            left: 46.5%;
            top: 69%;
        }
        #동작:hover{
            font-size: 150%;
        }
        #금천{
            position:absolute;
            left: 42%;
            top: 77%;
        }
        #금천:hover{
            font-size: 150%;
        }
        #관악{
            position:absolute;
            left: 46%;
            top: 76%;
        }
        #관악:hover{
            font-size: 150%;
        }
        #서초{
            position:absolute;
            left: 52%;
            top: 72%;
        }
        #서초:hover{
            font-size: 150%;
        }
        #강남{
            position:absolute;
            left: 56%;
            top: 70%;
        }
        #강남:hover{
            font-size: 150%;
        }
        #송파{
            position:absolute;
            left: 61%;
            top: 67%;
        }
        #송파:hover{
            font-size: 150%;
        }
        #강동{
            position:absolute;
            left: 65%;
            top: 58%;
        }
        #강동:hover{
            font-size: 150%;
        }